body {
    color: white;
    text-align: center;
    background: gray;

}

.row {
  width: 100%;
  margin: 0 auto;
  -webkit-align-items: center; /* Safari 7.0+*/
}
.block {
  width: 441px;
  border: 1px solid black;
  float: left;
}

/*----------SELECT---------*/
select {
    background: white;
    color: black;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    font-weight: 100;
    padding: 16px 16px;
    border: none;
    border-radius: 6px;
    border-width: 1px;
    border-style: solid;
    border-color: black;
}

/*----------FORM--------*/
input[type="text"],
input[type="password"],
input[type="email"],
input[type="date"],
input[type="tel"],
input[type="number"],
textarea {
    color: black;
    border: none;
    padding: 16px 16px;
    text-decoration: none;
    border-radius: 6px;
    background: white;
    border-width: 1px;
    border-style: solid;
    border-color: black;
}

/*----------BOTÕES---------*/
input[type="submit"],
.button {
    transition: background-color 0.35s ease-in-out;
    background: #6CA6CD;
    border-radius: 6px;
    border-style: outset;
    color: #fff;
    cursor: pointer;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}
input[type="submit"]:hover,
.button:hover {
    background: black;
}
